h1 {
	color: black;
	text-align: center;
}

a {
	color: black;
}

/*--------------------------------------------------------------------------------------*/
/*NAVIGATION BAR*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: red;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}
/*--------------------------------------------------------------------------------------*/
article {
  float: center;
  padding left: 200px;
  padding right: 70px;
  padding top: 5%
  padding bottom: 5%
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}